{% extends 'chapters.html' %}
{% block title %}{{lesson.lesson_name}}{% endblock %}

{% block c_content %}

    <p>Hello Everyone. Welcome to the Python Beginner's Course. On the first chapter you will be learning 
        a few important things your should know about Python and how you should do the entire course
        to get the most out of it and by the time you complete this course you will have learned a lot of things.
    </p>

    <h3>Why Python?</h3>
    <p>
        First things first. Out of all the languages out there like Javascript, C#, C++ etc.
        Why should 'I' learn python? Is this the right choice? and many more questions must be arising 
        in your mind right now. So for answeing this let me give you a list of the fields in which python is
        widely used:
        <ul >
            <img src="../media/robot.jpg" alt="Image of a robot">
            <p class="lead" style="text-align: center;">Photo by Owen Beard on Unsplash</p>
            <li><span style="font-weight: bold;">Machine Learning!!!</span><br> Well if you aren't living under a rock you 
            must have heard about ML and all the hype going around it on how it can automate and revolutionize
            the technological world.</li>
            <li><span style="font-weight: bold;">Make Websites</span><br>With python you can make amazing 
            websites within few minutes. This website itself is made on python(django framework 
            - we will be adding a course on it in the future). Instagram, pinterest, google all use 
        python in their websites servers. So thats another reason for you to learn python.</li>
        </ul>
        <p>And the list continues...</p>

        <h3>Wait the Salary!</h3>
        <p>The average python developer in the US earns about $89,776. That's approximately 63 lacks per
            year in India! Even though money can be a good motivation, we believe that you should learn
            python from a genuine interest. That way you will never get demotivated on the way and will 
            be happy every time you type a line of code!
        </p>
        
    </p>

    <h3>About Python</h3>
    <p class="jumbotron"><span><a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a></span>
        Python is an interpreted, high-level, object-oriented and general purpose programming language. Created by <span>
            <a href="https://en.wikipedia.org/wiki/Guido_van_Rossum">Guido van Rossum </a></span> and 
            first  released in 1991, Python emphasizes readability using whitespace. Python is useful 
            for developers working on both small-scale and large-scale projects.
    </p>

    <h2>!!! IMPORTANT</h2>
    <h3>How To Follow Along The Course</h3>
    <p>
        (This course supposes that you are an absolute beginner to python. If you are not we still suggest
        that you go through all the topics)
        <br>
        <ul>
            <li><u>Try to do all the exercises that we recommend doing on your own PC.</u>
                 This way you won't get bored and will be ready to code on your own.
            </li>
            <li><u>Do not Copy-Paste.</u> Doing so won't help you learn effectively. If you have problems
            with your code read the next guideline.</li>
            <li><u>Ask for help.</u> You can go to the <a href="{% url 'forum' %}">forum</a> and ask 
            anything you have doubt in. The community is always ready to help those people.</li>
            <li><u>Learn to google stuff.</u> But before you ask something on the forum be sure to google
            it because 'Uncle Google' is a programmers best uncle. So be sure sure to google first because
            it's alot faster than asking on the forum for most of the problems.</li>
            <li>Here</li>
            <li><u>Be Persistent.</u> This is something really important in gaining any skill in the real-worl.
             You gotta keep pushing even when the going gets difficult.</li>
        </ul>
    </p>
    <h4>And that's it! Hope you Enjoy the whole Course ^_^</h4>

    <a href="{% url 'python-beginners-course-2' %}">Next >></a>


{% endblock %}