{% extends 'chapters.html' %}
{% block title %}{{lesson.lesson_name}}{% endblock %}

{% block c_content %}

    <p>Hello Everyone. Welcome to the Python Beginner's Course. On the first chapter you will be learning 
        a few important things your should know about Python and how you should do the entire course
        to get the most out of it and by the time you complete this course you will have learned a lot of things.
    </p>
    <h3>Why Python?</h3>
    <p>
        First things first. Out of all the languages out there like Javascript, C#, C++ etc.
        Why should 'I' learn python? Is this the right choice? and many more questions must be arising 
        in your mind right now. So for answeing this let me give you a list of the fields in which python is
        widely used:
        <ul >
            <li><span style="font-weight: bold;">Machine Learning!!!</span><br> Well if you aren't living under a rock you 
            must have heard about ML and all the hype going around it on how it can automate and revolutionize
            the technological world.</li>
            <li><span style="font-weight: bold;">Make Websites</span><br>With python you can make amazing 
            websites within few minutes. This website itself is made on python(django framework 
            - we will be adding a course on it in the future). Instagram, pinterest, google all use 
        python in their websites servers. So thats another reason for you to learn python.</li>

        </ul>
    </p>


{% endblock %}