{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<style>
    .image-cropper {
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    .img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
</style>


<div class="container">
    <div class="jumbotron">
        <p>Hi {{user.username}}</p>
        <p>Email : {{user.email}}</p>
    
        {% if profile_pic %}
        <p>Profile pic:</p>
        <div class="image-cropper">
            <img src="{{ profile_pic.url }}" class="img" >
        </div>
        {% else %}
        <p>no profile pic</p>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="pic">Change Profile Pic : </label>
            <input type="file" name="profile_pic" id="pic" accept="image/*"><br>
            <input type="submit" name="" value="Upload">
        </form>
        <br><br>
        <a href="{% url 'forgotpassword' %}">Change Password</a>
    </div>
</div>

{% endblock %}