{% extends 'base.html' %}
{% block title %}Answer{% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-2">Answer</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ question_id }}">
        <textarea style="height: 200px; widows: 90%;" name="content" cols="30" rows="10" placeholder="Write a descriptive and genuine answer."></textarea>
        <input type="submit" class="btn btn-primary" value="Submit Answer" id="">
    </form>
</div>
{% endblock %}