{% extends 'base.html' %}
{% block title %}Forum{% endblock %}

{% block content %}
<style>
    #ask-btn{
        color: white;
        background-color: rgb(70, 101, 238);
        border: black;
        padding: 5px 15px;
        border-radius: 2px;
    }

    #ask-btn:hover{
        background-color: rgb(42, 78, 238);
        padding: 6px 16px;
        text-decoration: none;
    }
    
</style>
<div class="container">

    <div class="row">
        <div class="col-lg-2 border">

        </div>
        <div class="col-lg-6 border">
                <p>
                    <span class="h1">Forum</span>
                    <span><a href="#" style="float: right; margin: 10px" id="ask-btn">Ask Question</a></span>
                </p>
                <hr>
            <ol>
                {% for question in questions %}
                <li>
                    <h4>{{question.title}}</h4>
                </li>
                <hr>
                {% endfor %}
            </ol>
        
        </div>
        <div class="col-lg-4 border"></div>
    </div>
</div>
{% endblock %}
